/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* side-nav */
#side-nav {
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3);
  /* transition: left 0.3s ease-in-out; */
}

#side-nav.open {
  left: 0px;
}

#side-nav h1 {
  padding: 60px 20px 40px 20px;
  color: #fff;
  font-size: 40px;
  font-family: 'Abel';
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#side-nav li {
  border-left: 5px solid transparent;
}

#side-nav li a {
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#side-nav li.active {
  background: rgba(255, 255, 255, 0.4);
  border-left: 5px solid #fff;
}

#side-nav .navBtn {
  position: absolute;
  right: -60px;
  top: 10px;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

/* contents */
#contents {
  text-align: center;
  color: #fff;
}

#contents>div {
  height: 100vh;
  line-height: 100vh;
}

#contents>div h2 {
  font-size: 90px;
  font-weight: 200;
  text-transform: uppercase;
}

#contents>div h2 strong {
  font-weight: 700;
  font-style: italic;
}

/* section */
#section1 {
  background: radial-gradient(ellipse farthest-corner at center bottom, #69d2fb 0%, #20438E 100%);
}

#section2 {
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
}

#section3 {
  background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
}

#section4 {
  background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);
}

#section5 {
  background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
}

#section6 {
  background: radial-gradient(ellipse farthest-corner at center top, #6CEBCF 0%, #38a7aa 100%);
}