/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* nav */
#nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

#nav h1 {
    float: left;
    color: #fff;
    font-size: 40px;
    padding: 5px 5px 5px 15px;
    font-family: 'Abel'
}

#nav ul {
    float: right;
    padding-right: 10px;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    display: inline-block;
    padding: 20px 15px;
    color: #fff;
    font-weight: bold;
    font-family: 'Abel';
    text-transform: capitalize;
}

#nav ul li.active a {
    color: #000;
}

#nav .mNav {
    display: none;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 65px;
    height: 45px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
}

#contents {
    text-align: center;
    color: #fff;
}

#contents>div {
    height: 100vh;
    line-height: 100vh;
}

#contents>div h2 {
    font-size: 90px;
    font-weight: 100;
    text-transform: uppercase;
}

#contents>div h2 strong {
    font-weight: 700;
    font-style: italic;
}

/* section */
#section1 {
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
}

#section2 {
    background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
}

#section3 {
    background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
}

#section4 {
    background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);
}

#section5 {
    background: radial-gradient(ellipse farthest-corner at center bottom, #69d2fb 0%, #20438E 100%);
}

#section6 {
    background: radial-gradient(ellipse farthest-corner at center top, #6CEBCF 0%, #38a7aa 100%);
}

@media(max-width:800px) {
    #nav .menu {
        display: none;
    }

    #nav .mNav {
        display: block;
    }
}