* {
    font-family: 'Lato';
}

#section1 .container {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.circle_progress {
    position: relative;
    width: 26vh;
    height: 26vh;
    /* background-color: #222; */
    border-radius: 100%;
}

.circle_progress .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 26vh;
    height: 26vh;
    border-radius: 100%;
    clip: rect(0, 13vh, 26vh, 0);
    /* background-color: #fff; */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}

.circle_progress .right {
    position: absolute;
    top: 0;
    left: 0;
    width: 26vh;
    height: 26vh;
    border-radius: 50%;
    clip: rect(0, 26vh, 26vh, 13vh);
    /* background-color: #fff; */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}

.circle_progress .ui-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vh;
    height: 20vh;
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

.container .ui-widget .ui-value {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container .ui-widget .ui-label {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1vw;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* .circle_progress .value {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    line-height: 128px;
    font-size: 16px;
    color: #888;
    text-align: center;
    border-radius: 50%;
    background-color: #222;
} */

.circle_progress .left .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0, 26vh, 26vh, 13vh);
    background-color: #fff;
    animation: left 5s linear 0s infinite;
    font-size: 0;
}

.circle_progress .right .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0, 13vh, 26vh, 0);
    background-color: #fff;
    animation: right 5s linear 0s infinite;
    font-size: 0;
}

/* .btn_pause {
    width: 100px;
    height: 40px;
    line-height: 15px;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
} */

@keyframes left {
    0% { transform: rotate(0); }
    25% { transform: rotate(0); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes right {
    0% { transform: rotate(0); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}